* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.logo-img {
  width: 270px;
  height: 70px;
  padding-top: 6px;
}

.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  height: 10vh;
}
.custom-nav-menu ul {
  display: flex;
  justify-content: top;
  align-items: top;
  list-style: none;
}
.custom-nav-list {
  margin-right: 6px;
  padding: 20px 12px 22px 20px;
}
.custom-nav-link {
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 0px;
  padding: 30px 12px 30px 12px;
  color: #8d8986;
  font-size: 12px;
  font-weight: 300;
}

.custom-nav-link:hover {
  background-color: #ede3e0;
  color: #8d8986;
}
.logo-ola {
  width: 56px;
  padding-top: 10px;
}
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.custom-nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hero section */
.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #96c142;
  font-size: 42px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
}
.loan-form-container {
  width: 100%;
  height: 425px;
  background-image: url(../assets/bg.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* form */
.form {
  width: 350px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
}
.border-button {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  width: 100%;
  border: 1px solid #b7b7b7;
  font-size: 15px;
  display: block;
  text-align: center;
  margin-top: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
  border-radius: 6px;
}
.border-button:hover {
  background-color: #96c142;
  color: #fff;
}
.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.xs-text {
  display: flex;
  font-size: 12px;
  padding-left: 8px;
  margin: 0;
}
.ssl-img {
  width: 120px;
}
.lock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.card-heading {
  text-align: center;
  font-weight: 400;
  font-size: 28px;
}
.icon {
  display: flex;
}
.mobile-bg {
  display: none;
}

/* cards section */
.cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
}
.cards-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}
.cards {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-card {
  width: 270px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 15px;
}
.card-number {
  color: #2b84a4;
  font-size: 50px;
  font-weight: 600;
}
.steps-heading {
  font-weight: 300;
  text-align: center;
}
.description {
  letter-spacing: 0.25px;
  margin: 0;
  margin-top: 10px;

  text-align: center;
}

.arrow {
  height: 31px;
  width: 36px;
  fill: #96c142 !important;
}
.start-now {
  padding: 15px 30px;
  background-color: #96c142;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  color: #333333;
}
/* how section */
.about-container {
  width: 100%;
  background-color: #eff3f6;
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
}
.about {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.text {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* footer */
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f8f8f8;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-description {
  width: 80%;
}
.footer-nav {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer-nav ul {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.footer-nav ul li {
  padding-left: 12px;
}
.footer-links {
  text-decoration: none;
  color: #88b03a;
  font-size: 12px;
}
.footer-links:hover {
  text-decoration: underline;
}

/* Modal Styles */
.faq-icon {
  height: 14px;
  width: 14px;
  fill: #337ab7;
}
.icon-wrapper {
  width: 15px;
}
.modal-title-custom {
  font-size: 18px;
}
.modal-dialog {
  max-width: 580px !important;
}
.modal-body {
  max-height: calc(100vh - 165px);
  overflow-y: scroll;
}
.modal-header {
  padding: 6px 20px;
}
.close {
  background: transparent;
  color: #ccc;
  border: 0;
  font-size: 28px;
  font-weight: 700;
}
.btn-default {
  border: 1px solid #ccc !important;
}

.ratesandfees-example {
  width: 100%;
  font-size: 13px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}
.multiple-inputs {
  width: 100%;
  display: flex;
  height: 34px;
  border-radius: 0px;
}
.sub-input {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  outline: none;
  border: 1px solid #bbbbbb;
}
#subInput1 {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
#subInput3 {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.ratesandfees-example-left,
.ratesandfees-example-right {
  text-align: left;
  padding: 5px 3px 3px;
  background: #eaeaea;
  border: 1px solid #fff;
}

.ratesandfees-apr-left {
  text-align: left;
  padding: 2px;
}
.ratesandfees-apr {
  background: #eaeaea;
  border: 1px solid #fff;
}
.btn-contact-phone {
  background-color: #6283a3 !important;
  color: #fff !important;
}
.faq-button {
  font-size: 16px;
  text-align: left !important;
}
.faq-button:hover {
  color: #91a7bd !important;
  background: #96c142 !important;
}
.inner-collapse {
  color: #337ab7;
  cursor: pointer;
  margin: 10px 0;
}
.collapse-content p {
  font-size: 14px;
}
.collapse-content li {
  font-size: 14px;
}
.collapse-content td {
  font-size: 14px;
}
.inner-collapse-content {
  margin-left: 18px;
}
.collapse-img {
  width: 100%;
}
.back-to-top {
  position: fixed;
  z-index: 1000;
  bottom: 8px;
  right: 8px;
  padding: 8px 12px;
  opacity: 0.8;
}
/* media querries */

@media only screen and (max-width: 950px) {
  .custom-nav-menu {
    position: fixed;
    left: -100%;
    top: 6rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .custom-nav-menu.active {
    left: 0;
  }

  .custom-nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .heading {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #96c142;
  }
  .loan-form-container {
    background-image: none;
    background-color: #fff;
  }
  .form {
    width: 100%;
    box-shadow: none;
  }
  .custom-nav-menu {
    margin-top: 0px;
  }
  .logo-ola {
    display: none;
  }
  .custom-nav-menu ul {
    flex-direction: column;
  }
  .mobile-bg {
    display: block;
    width: 100%;
  }
  .mobile-bg-img {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .cards {
    flex-direction: column;
    width: auto;
  }
  .card {
    width: auto;
    height: auto;
  }
  .about {
    flex-direction: column;
    width: 100%;
  }
  footer {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer-description {
    width: 100%;
  }
  .footer-nav {
    width: 100%;
  }
  .arrow {
    transform: rotate(90deg);
  }
}
.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  text-align: center;
}
