<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spring Loans</title>
    <link rel="stylesheet" href="./styles/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400; 500; 600; 700&family=Space+Mono&display=swap"
            rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
<!-- Header -->
<header class="header">
    <nav class="custom-navbar">
        <div class="logo nav-logo">
            <a href="{{ path('home') }}">
                <img src="./assets/logo.webp" class="logo-img" />
            </a>
        </div>

        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <div class="custom-nav-menu">
            <div>
                <ul class="custom-nav-list">

                    <li class="custom-nav-item">
                        <a class="custom-nav-link" data-bs-toggle="modal" data-bs-target="#howItWorks">How it
                            works</a>
                    </li>
                    <li class="custom-nav-item">
                        <a href="#" class="custom-nav-link" data-bs-toggle="modal" data-bs-target="#rates">Rates & Fees</a>
                    </li>
                    <li class="custom-nav-item"><a href="#" class="custom-nav-link" data-bs-toggle="modal"
                                                   data-bs-target="#faq">FAQs</a></li>
                    <li class="custom-nav-item">
                        <a href="#" class="custom-nav-link" data-bs-toggle="modal" data-bs-target="#advertising">Advertising
                            disclosure</a>
                    </li>
                    <li class="custom-nav-item"><a href="#" class="custom-nav-link" data-bs-toggle="modal"
                                                   data-bs-target="#contact">Contact</a></li>
                </ul>
            </div>
            <div>
                <img src="./assets/seal-ola.webp" class="logo-ola" />
            </div>
        </div>
    </nav>
</header>

<!-- hero section / loan form -->
<section>
    <div class="heading-container">
        <h1 class="heading">Last Step to get up to $2,500 fast!</h1>
    </div>
    <!-- form container-->
    <div class="loan-form-container">
        <!-- form -->
        <div class="form">
            <div>
                <h2 class="card-heading">How Much Would You Like To Borrow?</h2>
            </div>
            <div>
                <a class="border-button" href="{{ path("quest", {'id': 500}) }}">$100-$500</a>
                <a class="border-button" href="{{ path("quest", {'id': 1000}) }}">$100-$500</a>
                <a class="border-button" href="{{ path("quest", {'id': 2000}) }}">$100-$500</a>
            </div>

            <br />
            <div class="card-img">
                <img src="{{ asset('assets/ssl.webp') }}" class="ssl-img" />
            </div>

            <div class="lock">
                <i class="fa fa-lock" style="font-size: 16px; color: #000" class="icon"></i>
                <p class="xs-text">
                    We use 256-bit SSL technology to encrypt your data
                </p>
            </div>
        </div>
    </div>
    <div class="mobile-bg">
        <img src="./assets/bg-mobile-2500.webp" class="mobile-bg-img" />
    </div>
</section>
<!-- three steps -->
<section class="cards-container">
    <div class="cards-heading">
        <h2 class="steps-heading">Get Your Loan in 3 Easy Steps</h2>
        <p class="description">
            Simplified, so you can get on your way. Leading security technology,
            for your peace of mind.
        </p>
    </div>
    <div class="cards">
        <!-- card 1 -->
        <div class="custom-card">
            <div>
                <h1 class="card-number">1</h1>
            </div>
            <div>
                <p class="description">Easy Loan Request</p>
            </div>
            <div>
                <p class="description">
                    Fill out our short, secure online loan request and submit.
                </p>
            </div>
        </div>


        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="arrow">
            <path
                    d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
        </svg>
        <!-- card 2 -->
        <div class="custom-card">
            <div>
                <h1 class="card-number">2</h1>
            </div>
            <div>
                <p class="description">Fast Approval</p>
            </div>
            <div>
                <p class="description">Get approved in as little as 2 minutes.</p>
            </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="arrow">
            <path
                    d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
        </svg>
        <!-- card 3 -->
        <div class="custom-card">
            <div>
                <h1 class="card-number">3</h1>
            </div>
            <div>
                <p class="description">Receive Your Funds</p>
            </div>

            <div>
                <p class="description">
                    Your money directly into your account in as little as one business
                    day. Why wait?
                </p>
            </div>
        </div>
    </div>
    <div>
        <button class="btn start-now">Start Now</button>
    </div>
</section>
<section class="about-container">
    <div class="about">
        <div class="text">
            <div>
                <h2 class="steps-heading" style="text-align: center">
                    How Spring Loans Can Help
                </h2>
            </div>
            <br />
            <div>
                <p>
                    Spring Loans was designed to help you request the loan you need,
                    for any reason! A personal loan is money you borrow for any kind
                    of reason for personal use, such as unexpected car repairs, home
                    improvement projects, vacations, help paying for a wedding, and
                    all other emergency situations. By completing our short loan
                    request form, you could have your cash in as little as one
                    business day. There are absolutely no hidden fees.
                    <br /><br />Our process is safe, secure, fast and reliable. No
                    waiting in lines or going to a physical store. Request your loan
                    straight from your mobile phone, or computer. You may be approved
                    in minutes, and your cash will be deposited straight into your
                    bank account. <br /><br />
                    So don't wait. Fill out our form to request the loan you've been
                    searching for with Spring Loans.
                </p>
            </div>
        </div>
        <div class="text">
            <div>
                <h2 class="steps-heading" style="text-align: center">
                    Responsible Lending
                </h2>
            </div>
            <br />
            <div class="desc">
                <p>
                    As a member of the Online Lenders Alliance (OLA), we are committed
                    to a responsible lending policy that complies not just with the
                    letter of federal law, but also with its spirit: to treat people
                    fairly and with respect. Visit the OLA to learn more about the
                    Truth in Lending Act (TILA) and the Fair Debt Collection Practices
                    Act.
                </p>
                <img src="./assets/logo-ola.png" class="about-logo" />
            </div>
        </div>
    </div>
</section>
<!-- footer -->
<footer>
    <div class="footer-description">
        <p>
            THE OPERATOR OF THIS WEBSITE is a for-profit advertising network. We
            receive compensation, in the form of referral fees, from lenders,
            aggregators, credit repair services, or other offers that we direct
            you to. Therefore, the amount of compensation provided, along with
            other factors, may impact which offer you are presented. The offer you
            receive may be coming from the company that bid the most for your
            information. The operator of this website does not always provide you
            with an offer with the best rates or terms. Our website does not
            include all companies or all available offers. We encourage you to
            research all available loans options for your situation.<br /><br />
            * The operator of this website does not broker loans to lenders and
            does not make cash advances or credit decisions. This Website does not
            constitute an offer or solicitation to lend. This site will submit the
            information you provide to a lender. In some cases, you may be given
            the option of obtaining a loan from a tribal lender. Tribal lenders
            are subject to tribal and certain federal laws while being immune from
            state law including usury caps. If you are connected to a tribal
            lender, please understand that the rates and fees may be higher than
            state-licensed lenders and you may be required to agree to resolve any
            disputes in a tribal jurisdiction. Additionally, your information may
            be going to an aggregator and not a lender. Your information can be
            sold multiple times leading to multiple offers from lenders,
            aggregators, and other marketers. Providing your information on this
            Website does not guarantee that you will be approved for a cash
            advance. The operator of this Website is not an agent, representative
            or broker of any lender and does not endorse or charge you for any
            service or product. Not all lenders can provide up to $2,500. Cash
            transfer times may vary between lenders and may depend on your
            individual financial institution. In some circumstances faxing may be
            required. This service is not available in all states, and the states
            serviced by this Website may change from time to time and without
            notice. For details, questions or concerns regarding your cash
            advance, please contact your lender directly. Cash advances are meant
            to provide you with short term financing to solve immediate cash needs
            and should not be considered a long term solution. Residents of some
            states may not be eligible for a cash advance based upon lender
            requirements. <br /><br />
            ** Lenders may perform credit checks with the three credit reporting
            bureaus: Experian, Equifax, or TransUnion. Credit checks or consumer
            reports through alternative providers may be obtained by some lenders.
            <br /><br />
            ANTI-SPAM POLICY: We strictly prohibit any reference or advertisement
            of our brand and web site using unsolicited email messages. Violation
            of this policy will cause partnership termination and further actions
            permitted by the law. If you feel you have been sent unsolicited
            messages promoting our brand or website and would like to register a
            complaint, please refer to our Privacy Policy. We will investigate all
            complaints and take necessary action.
        </p>
    </div>
    <div class="footer-nav">
        <ul>
            <li><a href="#" class="footer-links">How It Works</a></li>
            <li><a href="#" class="footer-links">Rates & Fees</a></li>
            <li><a href="#" class="footer-links">FAQs</a></li>
            <li><a href="#" class="footer-links">Advertising Disclosure</a></li>
            <li>
                <a href="#" class="footer-links">Do Not Sell My Personal Information</a>
            </li>
            <li><a href="#" class="footer-links">Contact</a></li>
            <li><a href="#" class="footer-links">Remove Me</a></li>
            <li><a href="#" class="footer-links">Privacy Policy</a></li>
            <li>
                <a href="#" class="footer-links">California Privacy Notice</a>
            </li>
            <li><a href="#" class="footer-links">Terms & Conditions</a></li>
            <li><a href="#" class="footer-links">E-Consent</a></li>
            <li><a href="#" class="footer-links">Credit Authorization</a></li>
        </ul>
    </div>

    <div>
        <p class="description">
            Copyright ©2024 Spring Loans. All rights reserved.
        </p>
    </div>
</footer>
<div>
    <!-- How It works Modal -->
    <div>
        <div class="modal fade" id="howItWorks" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title modal-title-custom" id="exampleModalLabel">How It Works</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            ×
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            When you need cash now, with no resolution in sight, a payday loan or cash advance can be the answer to
                            your problems. Our process is simple, safe, secure, and convenient:
                        </p>
                        <ul>
                            <li>
                                Fill out our short, secure online loan request and submit. Our network of lenders will then review
                                your information to see if they can offer you a loan.
                            </li>
                            <li>
                                If approved by a lender, you will be presented with your loan details and documents for review.
                            </li>
                            <li>
                                Review your online loan documents and retain a copy. You may be required to electronically e-sign your
                                agreem
                            </li>
                            <li>

                                Your loan will then be deposited directly into your bank account, typically within one business day.
                            </li>
                        </ul>
                        <h5 class="modal-title modal-title-custom mb-2" id="exampleModalLabel">Qualifying for a Loan
                        </h5>
                        <p>
                            Although your loan request may be accepted with any type of credit, there are still a few basic
                            requirements you must meet in order to qualify.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                        <!-- You can add additional buttons here -->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Rates & Fees Modal -->
    <div>
        <div class="modal fade" id="rates" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title modal-title-custom" id="exampleModalLabel">Rates & Fees</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            ×
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Terms of your loan will vary based on the amount of the loan and the period of time to repay. Other
                            factors may include the state you live in, your source of income, and your repayment history. Please
                            contact your lender directly for questions regarding your loan.
                        </p>
                        <p>Rates:</p>
                        <table class="ratesandfees-example">
                            <tbody>
                            <tr>
                                <td class="ratesandfees-example-left" valign="top">Loan Amount</td>
                                <td class="ratesandfees-example-right" valign="top">$100 - $1,000+</td>
                            </tr>
                            <tr>
                                <td class="ratesandfees-example-left" valign="top">Lending Period</td>
                                <td class="ratesandfees-example-right" valign="top">14 days - 24 months</td>
                            </tr>
                            <tr>
                                <td class="ratesandfees-example-left" valign="top">Payment Frequency</td>
                                <td class="ratesandfees-example-right" valign="top">Ranges between weekly, bi-weekly, monthly, or
                                    bi-monthly.</td>
                            </tr>
                            <tr>
                                <td class="ratesandfees-example-left" valign="top">Annual Percentage Rate (APR) &nbsp;</td>
                                <td class="ratesandfees-example-right" valign="top">Typically between 261% - 1304%</td>
                            </tr>
                            <tr>
                                <td class="ratesandfees-example-left" valign="top">Prepayment Penalty</td>
                                <td class="ratesandfees-example-right" valign="top">None</td>
                            </tr>
                            </tbody>
                        </table>

                        <p>
                            Typically, the APRs for most loans can range between 261% to 1304% based on many different factors
                            including, but not limited to: loan amount, loan duration, credit scoring, and state of residence.
                        </p>
                        <p>
                            Below is a representation of the typical APR range you can expect to see.
                        </p>

                        <table class="ratesandfees-apr-table w-100">
                            <tbody>
                            <tr class="ratesandfees-apr-line1">
                                <td class="ratesandfees-apr-header" valign="top"></td>
                                <td class="ratesandfees-apr-header" valign="top">Loan Amount</td>
                                <td class="ratesandfees-apr-header" valign="top">Loan Term</td>
                                <td class="ratesandfees-apr-header" valign="top">Fee / Interest</td>
                                <td class="ratesandfees-apr-header" valign="top">APR%</td>
                            </tr>
                            <tr class="ratesandfees-apr-line2">
                                <td class="ratesandfees-apr-left" valign="top">Low Range</td>
                                <td class="ratesandfees-apr" valign="middle">$ 1,000</td>
                                <td class="ratesandfees-apr" valign="middle">14 days</td>
                                <td class="ratesandfees-apr" valign="middle">$ 100</td>
                                <td class="ratesandfees-apr" valign="middle">261%</td>
                            </tr>
                            <tr class="ratesandfees-apr-line3">
                                <td class="ratesandfees-apr-left" valign="top">High Range</td>
                                <td class="ratesandfees-apr" valign="middle">$ 300</td>
                                <td class="ratesandfees-apr" valign="middle">14 days</td>
                                <td class="ratesandfees-apr" valign="middle">$ 150</td>
                                <td class="ratesandfees-apr" valign="middle">1304%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- Advertising Disclosure Modal -->
    <div>
        <div class="modal fade" id="advertising" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title modal-title-custom" id="exampleModalLabel">How It Works</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            ×
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            THE OPERATOR OF THIS WEBSITE is a for-profit advertising network. We receive compensation, in the form
                            of referral fees, from lenders, aggregators, credit repair services, or other offers that we direct you
                            to. Therefore, the amount of compensation provided, along with other factors, may impact which offer you
                            are presented. The offer you receive may be coming from the company that bid the most for your
                            information. The operator of this website does not always provide you with an offer with the best rates
                            or terms. Our website does not include all companies or all available offers. We encourage you to
                            research all available loans options for your situation.
                        </p>
                        <p>
                            * The operator of this website does not broker loans to lenders and does not make cash advances or
                            credit decisions. This Website does not constitute an offer or solicitation to lend. This site will
                            submit the information you provide to a lender. In some cases, you may be given the option of obtaining
                            a loan from a tribal lender. Tribal lenders are subject to tribal and certain federal laws while being
                            immune from state law including usury caps. If you are connected to a tribal lender, please understand
                            that the rates and fees may be higher than state-licensed lenders and you may be required to agree to
                            resolve any disputes in a tribal jurisdiction. Additionally, your information may be going to an
                            aggregator and not a lender. Your information can be sold multiple times leading to multiple offers from
                            lenders, aggregators, and other marketers. Providing your information on this Website does not guarantee
                            that you will be approved for a cash advance. The operator of this Website is not an agent,
                            representative or broker of any lender and does not endorse or charge you for any service or product.
                            Not all lenders can provide up to $2,500. Cash transfer times may vary between lenders and may depend on
                            your individual financial institution. In some circumstances faxing may be required. This service is not
                            available in all states, and the states serviced by this Website may change from time to time and
                            without notice. For details, questions or concerns regarding your cash advance, please contact your
                            lender directly. Cash advances are meant to provide you with short term financing to solve immediate
                            cash needs and should not be considered a long term solution. Residents of some states may not be
                            eligible for a cash advance based upon lender requirements.
                        </p>
                        <p>
                            ** Lenders may perform credit checks with the three credit reporting bureaus: Experian, Equifax, or
                            TransUnion. Credit checks or consumer reports through alternative providers may be obtained by some
                            lenders.
                        </p>
                        <p>ANTI-SPAM POLICY: We strictly prohibit any reference or advertisement of our brand and web site using
                            unsolicited email messages. Violation of this policy will cause partnership termination and further
                            actions permitted by the law. If you feel you have been sent unsolicited messages promoting our brand or
                            website and would like to register a complaint, please refer to our Privacy Policy. We will investigate
                            all complaints and take necessary action.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                        <!-- You can add additional buttons here -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact Modal -->
    <div>
        <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title modal-title-custom" id="exampleModalLabel">Contact Us</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            ×
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="m-0">
                            If you still have questions after reading our Frequently Asked Questions section, please do not hesitate
                            to contact us below.
                        </p>

                        <div class="d-flex flex-column align-items-center my-3 gap-2">
                            <p class="m-0">To contact customer service:</p>
                            <a class="btn btn-contact-phone no-wrap" href="tel:8559997852">Call (855)
                                999-7852</a>
                        </div>
                        <p>
                            Please note that we are not a lender. Any questions pertaining to your loan should be directed to your
                            lender; we have no information on your loan, your pending request, or your rates and fees.
                        </p>
                        <p>
                            To stop receiving marketing emails, <a href="#" data-bs-toggle="modal"
                                                                   data-bs-target="#unsubEmail">click
                                here.</a>
                        </p>
                        <p class="m-0">Company Name: Net Media1, LLC</p>
                        <p>Address: 2093 Philadelphia Pike, Suite 1422, Claymont, DE 19703</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                        <!-- You can add additional buttons here -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Unsubscribe Email Modal -->
    <div>
        <div class="modal fade" id="unsubEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title modal-title-custom" id="exampleModalLabel">Remove Me</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            ×
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="m-0">
                            Enter your email address below to unsubscribe:
                        </p>
                        <input type="email" class="form-control mt-2" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div class="d-flex justify-content-center my-3 gap-2">
                            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Unsubscribe</button>
                        </div>
                        <div>
                            <p>To unsubscribe from SMS text messages, <a href="#" data-bs-toggle="modal" data-bs-target="#unsubSMS">
                                    click
                                    here.</a>
                            </p>
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                        <!-- You can add additional buttons here -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Unsubscribe SMS Modal -->
    <div>
        <div class="modal fade" id="unsubSMS" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title modal-title-custom" id="exampleModalLabel">Remove Me</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            ×
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="m-0">
                            Enter your cell phone number to unsubscribe from SMS text messages:
                        </p>
                        <div class="multiple-inputs">
                            <div>
                                <input type="text" id="subInput1" maxlength="3" class="sub-input" placeholder="- - -" />
                            </div>
                            <div>
                                <input type="text" id="subInput2" maxlength="4" class="sub-input" placeholder="- - - -" />
                            </div>
                            <div>
                                <input type="text" id="subInput3" maxlength="4" class="sub-input" placeholder="- - - -" />
                            </div>
                        </div>
                        <div class="d-flex justify-content-center my-3 gap-2">
                            <button type="button" class="btn btn-default" data-bs-dismiss="modal">Unsubscribe</button>
                        </div>
                        <div>
                            <p>To unsubscribe from email messages, <a href="#" data-bs-toggle="modal" data-bs-target="#unsubEmail">
                                    click
                                    here.</a>
                            </p>
                            </p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                        <!-- You can add additional buttons here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FAQ Modal -->
    <div>
        <div class="modal fade" id="faq" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title modal-title-custom" id="exampleModalLabel">Frequently Asked Questions</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            ×
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="accordion" class="d-flex flex-column gap-1">
                            <div class="card">

                                <button class="btn card-header faq-button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                    What is a Payday Loan or Cash Advance?
                                </button>


                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                    <div class="card-body collapse-content">
                                        <p>
                                            A payday loan provides you with emergency cash when you need it most ... Simply complete our
                                            quick
                                            two-minute online form; there are typically no documents to fax. Just submit your request and
                                            your
                                            cash can be available as early as the next business day!
                                        </p>
                                        <div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#paydayCollapse"
                                                   aria-expanded="true" aria-controls="paydayCollapse">Can I use my loan funds for any purpose?
                                                </p>
                                            </div>
                                            <div id="paydayCollapse" class="collapse inner-collapse-content">
                                                <p>Absolutely, you can use the money from your loan for any purpose.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <button class="btn card-header faq-button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="true" aria-controls="collapseOne">
                                    Qualifying for a Loan
                                </button>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                    <div class="card-body collapse-content">

                                        <div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-1"
                                                   aria-expanded="true" aria-controls="loan-1"> Can
                                                    I qualify?
                                                </p>
                                            </div>
                                            <div id="loan-1" class="collapse inner-collapse-content">
                                                <p>To qualify for a loan you must:</p>
                                                <ul>
                                                    <li>Have a job OR receive regular income</li>
                                                    <li>Be 18 years or older</li>
                                                    <li>Be a U.S. citizen with a valid social security number</li>
                                                    <li>Have a valid U.S. driver’s license or state ID</li>
                                                    <li>Have an open bank account (your cash will be deposited directly into this account)</li>
                                                    <li>Meet any additional requirements your lender may have (which may include credit score,
                                                        loan history, and state of residence)</li>
                                                </ul>
                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-2"
                                                   aria-expanded="true" aria-controls="loan-2">How much can I qualify for?
                                                </p>
                                            </div>
                                            <div id="loan-2" class="collapse inner-collapse-content">
                                                <p>You can request up to $2,500 to find a loan you're qualified to receive, fill out our
                                                    simple loan request. Your lender will take into account the information you enter, such as
                                                    income and employment, as well as any additional information they may require, including,
                                                    but not limited to, your credit history.</p>

                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-3"
                                                   aria-expanded="true" aria-controls="loan-3">How can I increase my chances of getting
                                                    approved?
                                                </p>
                                            </div>
                                            <div id="loan-3" class="collapse">
                                                <ul>
                                                    <li>Make sure all the information you enter is accurate.
                                                    </li>
                                                    <li>If you don't have a bank account, open a checking account and have your paycheck
                                                        deposited directly into that account. This provides a lender the ability to deposit funds
                                                        directly into your account.
                                                    </li>
                                                    <li>If you currently have outstanding short-term loans, paying those off may help your
                                                        approval for a new loan.
                                                    </li>

                                                </ul>

                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-4"
                                                   aria-expanded="true" aria-controls="loan-4">What if I don’t have a bank account?
                                                </p>
                                            </div>
                                            <div id="loan-4" class="collapse inner-collapse-content">
                                                <p>You must have a bank account (either checking or savings are valid) to be able to receive
                                                    your loan.</p>

                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-5"
                                                   aria-expanded="true" aria-controls="loan-5">I have a Meta Bank account. Can I still be
                                                    approved?
                                                </p>
                                            </div>
                                            <div id="loan-5" class="collapse inner-collapse-content">
                                                <p>In most cases, customers with Meta Bank accounts are not eligible for a loan.</p>

                                            </div>
                                            <div class="d-flex align-items-start gap-2">
                                                <div class="icon-wrapper">
                                                    <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <path
                                                                d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                    </svg>
                                                </div>
                                                <p class="inner-collapse m-0" data-bs-toggle="collapse" data-bs-target="#loan-6"
                                                   aria-expanded="true" aria-controls="loan-6">I don’t have a job, but I receive income from
                                                    disability, retirement, social security or pension payments. Can I still get a loan?
                                                </p>
                                            </div>
                                            <div id="loan-6" class="collapse inner-collapse-content">
                                                <p>Yes—some lenders may still accept your loan request if you receive regular benefits income
                                                    (at least $1000 monthly).</p>
                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-7"
                                                   aria-expanded="true" aria-controls="loan-7">I don’t have a driver’s license. Can I still
                                                    qualify?
                                                </p>
                                            </div>
                                            <div id="loan-7" class="collapse inner-collapse-content">
                                                <p>At this time, lenders require a driver’s license or state ID card to help verify identity
                                                    (passports are not accepted).</p>
                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-8"
                                                   aria-expanded="true" aria-controls="loan-8">I live outside the United States. Can I get a
                                                    loan?
                                                </p>
                                            </div>

                                            <div id="loan-8" class="collapse inner-collapse-content">
                                                <p>Currently, our network of lenders only provide loans to residents of the United States.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <button class="btn card-header faq-button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                        aria-expanded="true" aria-controls="collapseThree">
                                    The Loan Request Process
                                </button>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                    <div class="card-body collapse-content">

                                        <div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-1"
                                                   aria-expanded="true" aria-controls="loan-1">How does the loan request process work?
                                                </p>
                                            </div>
                                            <div id="loan-1" class="collapse inner-collapse-content">
                                                <p>We are not a lender; instead, we provide a marketplace for lenders and consumers to come
                                                    together. Our process is simple and secure:

                                                </p>
                                                <ul>
                                                    <li>Fill out our short, secure online loan request and submit. Our network of lenders will
                                                        then review your information to see if they can offer you a loan.</li>
                                                    <li>If approved by a lender, you will be presented with your loan details and documents for
                                                        review.</li>
                                                    <li>Review your online loan documents and retain a copy. You may be required to
                                                        electronically e-sign your agreement.</li>
                                                    <li>Your loan will then be deposited directly into your bank account, typically within one
                                                        business day.</li>

                                                </ul>
                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-2"
                                                   aria-expanded="true" aria-controls="loan-2">How long does the approval process take?
                                                </p>
                                            </div>
                                            <div id="loan-2" class="collapse inner-collapse-content">
                                                <p>Your loan request should take just a few minutes to complete. Upon completion your loan
                                                    request may be approved within minutes. If approved, your funds can be available as soon as
                                                    the next business day.</p>

                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-3"
                                                   aria-expanded="true" aria-controls="loan-3">Where do I find my bank account and routing
                                                    number?
                                                </p>
                                            </div>
                                            <div id="loan-3" class="collapse inner-collapse-content">
                                                <p>Your bank account number and routing number can be found at the bottom of your check (see
                                                    an example below). Your account number is a unique number given to you by your bank that
                                                    represents your checking or savings account. Your routing number is a public number that is
                                                    associated with your bank.</p>
                                                <img src="{{ asset('assets/check-account.webp') }}" alt="" class="collapse-img">
                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-4"
                                                   aria-expanded="true" aria-controls="loan-4">I’m having technical trouble with your loan
                                                    request.
                                                </p>
                                            </div>
                                            <div id="loan-4" class="collapse inner-collapse-content">
                                                <p>You may need to update your browser or switch to another browser.</p>

                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-5"
                                                   aria-expanded="true" aria-controls="loan-5">Why do you need my social security number and
                                                    bank
                                                    account information?
                                                </p>
                                            </div>
                                            <div id="loan-5" class="collapse inner-collapse-content">
                                                <p>Your social security number is required for the your protection and is used to help verify
                                                    your identity. Your bank account information is needed to deposit your funds into your
                                                    account.

                                                </p>

                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-6"
                                                   aria-expanded="true" aria-controls="loan-6">When do I get my funds?

                                                </p>
                                            </div>
                                            <div id="loan-6" class="collapse inner-collapse-content">
                                                <p>Once you’ve submitted your loan request your funds
                                                    are typically deposited into your bank account within one business day.</p>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <button class="btn card-header faq-button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                        aria-expanded="true" aria-controls="collapseFour">
                                    Rates & Fees
                                </button>
                                <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                    <div class="card-body collapse-content">

                                        <div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-1"
                                                   aria-expanded="true" aria-controls="loan-1">What are the rates and fees?
                                                </p>
                                            </div>
                                            <div id="loan-1" class="collapse inner-collapse-content">
                                                <p>Terms of your loan will vary based on the amount of the loan and the period of time to
                                                    repay. Other factors may include the state you live in, your source of income, and your
                                                    repayment history. Please contact your lender directly for questions regarding your loan.
                                                </p>
                                                <p>Rates:</p>
                                                <table class="ratesandfees-example">
                                                    <tbody>
                                                    <tr>
                                                        <td class="ratesandfees-example-left" valign="top">Loan Amount</td>
                                                        <td class="ratesandfees-example-right" valign="top">$100 - $1,000+</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="ratesandfees-example-left" valign="top">Lending Period</td>
                                                        <td class="ratesandfees-example-right" valign="top">14 days - 24 months</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="ratesandfees-example-left" valign="top">Payment Frequency</td>
                                                        <td class="ratesandfees-example-right" valign="top">Ranges between weekly, bi-weekly,
                                                            monthly, or
                                                            bi-monthly.</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="ratesandfees-example-left" valign="top">Annual Percentage Rate (APR) &nbsp;
                                                        </td>
                                                        <td class="ratesandfees-example-right" valign="top">Typically between 261% - 1304%</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="ratesandfees-example-left" valign="top">Prepayment Penalty</td>
                                                        <td class="ratesandfees-example-right" valign="top">None</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <p>
                                                    Typically, the APRs for most loans can range between 261% to 1304% based on many different
                                                    factors
                                                    including, but not limited to: loan amount, loan duration, credit scoring, and state of
                                                    residence.
                                                </p>
                                                <p>
                                                    Below is a representation of the typical APR range you can expect to see.
                                                </p>

                                                <table class="ratesandfees-apr-table w-100">
                                                    <tbody>
                                                    <tr class="ratesandfees-apr-line1">
                                                        <td class="ratesandfees-apr-header" valign="top"></td>
                                                        <td class="ratesandfees-apr-header" valign="top">Loan Amount</td>
                                                        <td class="ratesandfees-apr-header" valign="top">Loan Term</td>
                                                        <td class="ratesandfees-apr-header" valign="top">Fee / Interest</td>
                                                        <td class="ratesandfees-apr-header" valign="top">APR%</td>
                                                    </tr>
                                                    <tr class="ratesandfees-apr-line2">
                                                        <td class="ratesandfees-apr-left" valign="top">Low Range</td>
                                                        <td class="ratesandfees-apr" valign="middle">$ 1,000</td>
                                                        <td class="ratesandfees-apr" valign="middle">14 days</td>
                                                        <td class="ratesandfees-apr" valign="middle">$ 100</td>
                                                        <td class="ratesandfees-apr" valign="middle">261%</td>
                                                    </tr>
                                                    <tr class="ratesandfees-apr-line3">
                                                        <td class="ratesandfees-apr-left" valign="top">High Range</td>
                                                        <td class="ratesandfees-apr" valign="middle">$ 300</td>
                                                        <td class="ratesandfees-apr" valign="middle">14 days</td>
                                                        <td class="ratesandfees-apr" valign="middle">$ 150</td>
                                                        <td class="ratesandfees-apr" valign="middle">1304%</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-2"
                                                   aria-expanded="true" aria-controls="loan-2">How much will my loan cost?
                                                </p>
                                            </div>
                                            <div id="loan-2" class="collapse inner-collapse-content">
                                                <p>Your rates and fees are completely dependent on the terms offered by your lender. Factors
                                                    that can contribute to determining your terms may include the state you live in, the amount
                                                    of money loaned, the length of repayment time, and your credit history. Late or missing
                                                    payments can result in additional charges that can increase the overall cost of your loan.
                                                </p>

                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-3"
                                                   aria-expanded="true" aria-controls="loan-3">What is APR?
                                                </p>
                                            </div>
                                            <div id="loan-3" class="collapse inner-collapse-content">
                                                <p>APR stands for Annual Percentage Rate and is meant to represent an interest rate for an
                                                    entire year. This is a good way to compare long term loan products like mortgage loans, auto
                                                    loans, and other loans scheduled to pay-off in 12 months or more. Using an APR to represent
                                                    a short-term loan can be misleading and is not a good way to compare all loan products.
                                                    Annualizing other fees over a two week span, typical of short-term loans, can show just how
                                                    affordable these loans can be.</p>
                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-4"
                                                   aria-expanded="true" aria-controls="loan-4">Can I review the terms of the loan before I
                                                    accept?
                                                </p>
                                            </div>
                                            <div id="loan-4" class="collapse inner-collapse-content">
                                                <p>Yes, your lender should provide you access to review all of your loan documents before you
                                                    sign them. Please retain a copy of your loan documents and records. Up until you submit your
                                                    signed loan agreement, you have the right to reject the loan offer and request a loan again.
                                                </p>

                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <button class="btn card-header faq-button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                        aria-expanded="true" aria-controls="collapseFive">
                                    Repaying My Loan
                                </button>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                    <div class="card-body collapse-content">

                                        <div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-1"
                                                   aria-expanded="true" aria-controls="loan-1">What are the repayment terms?
                                                </p>
                                            </div>
                                            <div id="loan-1" class="collapse inner-collapse-content">
                                                <p>Repayment terms are dependent upon your lender, and may be dependent upon such factors as
                                                    the state you live in, the amount of the loan, the length of repayment time, and your credit
                                                    history. Typically, payments are made once or twice a month. Please contact your lender with
                                                    any questions about the repayment process.
                                                </p>

                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-2"
                                                   aria-expanded="true" aria-controls="loan-2">What are my loan renewal policies?
                                                </p>
                                            </div>
                                            <div id="loan-2" class="collapse inner-collapse-content">
                                                <p>Renewal policies vary for each company and within each loan offer. It is essential to
                                                    review these policies and terms within your individual loan.
                                                </p>

                                            </div>
                                            <div class="d-flex align-items-start gap-2">
                                                <div class="icon-wrapper">
                                                    <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <path
                                                                d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                    </svg>
                                                </div>
                                                <p class="inner-collapse m-0" data-bs-toggle="collapse" data-bs-target="#loan-3"
                                                   aria-expanded="true" aria-controls="loan-3">What if I make a payment late, or miss a
                                                    payment?
                                                    What's a rolled over payment?
                                                </p>
                                            </div>
                                            <div id="loan-3" class="collapse inner-collapse-content">
                                                <p>If you think you will be unable to make a payment on time (or at all), contact your lender
                                                    immediately. Failure to meet the terms of your loan can result in additional fees,
                                                    collection procedures, and/or a detrimental change to your credit rating. For some loans, if
                                                    you do not pay the loan balance in full, depending on your specific lender, your loan may
                                                    renew or roll over the principal balance plus an additional finance fee.</p>
                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-4"
                                                   aria-expanded="true" aria-controls="loan-4">How does requesting a short-term loan affect my
                                                    credit?
                                                </p>
                                            </div>
                                            <div id="loan-4" class="collapse inner-collapse-content">
                                                <p>Lenders may perform credit checks with the three credit reporting bureaus: Experian,
                                                    Equifax, or TransUnion. Credit checks or consumer reports through alternative providers may
                                                    be obtained by some lenders. Please check with your participating lender.
                                                </p>

                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-5"
                                                   aria-expanded="true" aria-controls="loan-5">What collection practices are used?
                                                </p>
                                            </div>
                                            <div id="loan-5" class=" collapse inner-collapse-content">
                                                <p>Collections practices of lenders and/or any assignee(s) will be in accordance with the
                                                    principles of any applicable federal and state law. Lenders may attempt to contact borrowers
                                                    via one or more authorized methods, including phone calls and emails, to arrange for
                                                    payment.
                                                </p>

                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <button class="btn card-header faq-button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                        aria-expanded="true" aria-controls="collapseSix">
                                    More Information
                                </button>
                                <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                    <div class="card-body collapse-content">

                                        <div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-1"
                                                   aria-expanded="true" aria-controls="loan-1">Who is the Online Lenders Alliance?
                                                </p>
                                            </div>
                                            <div id="loan-1" class="collapse inner-collapse-content">
                                                <p>The Online Lenders Alliance (OLA), the center for lending, technology and innovation,
                                                    represents the growing industry of companies offering loans online. OLA members abide by a
                                                    list of Best Practices and Code of Conduct to ensure their customers are fully informed and
                                                    fairly treated.
                                                </p>

                                            </div>
                                            <div class="d-flex align-items-start gap-2">
                                                <div class="icon-wrapper">
                                                    <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <path
                                                                d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                    </svg>
                                                </div>
                                                <p class="inner-collapse m-0" data-bs-toggle="collapse" data-bs-target="#loan-2"
                                                   aria-expanded="true" aria-controls="loan-2">I don't have a printer and I want to print a
                                                    copy
                                                    of my loan documents. Can I get my documents another way?
                                                </p>
                                            </div>
                                            <div id="loan-2" class="collapse inner-collapse-content">
                                                <p>If you do not have a printer handy, there are several ways to get copies of your documents
                                                    to you. Your lender can usually email them to you, fax them directly, or fax them to your
                                                    local Kinko's, Mail Boxes Etc., or PostNet so you can pick them up.


                                                </p>
                                                <p>To make these special arrangements, please contact your lender.</p>
                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-3"
                                                   aria-expanded="true" aria-controls="loan-3">How do I know I’m being contacted by my lender?
                                                </p>
                                            </div>
                                            <div id="loan-3" class="collapse inner-collapse-content">
                                                <p>If you are contacted by someone who says they are associated with this website or your
                                                    lender asking for funds, please report their information to the OLA Consumer Hotline by
                                                    calling (866) 299-7585.

                                                </p>
                                                <p>If you have been contacted by a collection service regarding your loan, and you want to be
                                                    sure they are representing your lender, contact your lender. If you feel you are being
                                                    contacted in error, or collections practices are abusive, contact the OLA. Do not make
                                                    payments on your loan by putting funds on a prepaid card or by sending money via Western
                                                    Union or any other transfer service.</p>
                                                <p>If your loan has been paid in full and you are still receiving collections notices, contact
                                                    your lender and the OLA.</p>
                                                <p>If you are unable to make a loan payment on time, contact your lender immediately.</p>
                                            </div>
                                            <div class="d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-4"
                                                   aria-expanded="true" aria-controls="loan-4">I have questions about my existing loan, where
                                                    do
                                                    I go?
                                                </p>
                                            </div>
                                            <div id="loan-4" class="collapse inner-collapse-content">
                                                <p>For questions about your existing loan please contact your lender.
                                                </p>
                                                <p>For details, questions or concerns regarding your loan, please contact your lender
                                                    directly. Contact information for your lender should be available on their website, in your
                                                    loan documents, or on your bank statement.</p>
                                            </div>
                                            <div class=" d-flex align-items-center gap-2">
                                                <svg class="faq-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path
                                                            d="M256 0a256 256 0 1 0 0 512A256 256 0 1 0 256 0zM127 281c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l71 71L232 136c0-13.3 10.7-24 24-24s24 10.7 24 24l0 182.1 71-71c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L273 393c-9.4 9.4-24.6 9.4-33.9 0L127 281z" />
                                                </svg>
                                                <p class="inner-collapse" data-bs-toggle="collapse" data-bs-target="#loan-5"
                                                   aria-expanded="true" aria-controls="loan-5">I still have questions. How can I contact a
                                                    representative?
                                                </p>
                                            </div>
                                            <div id="loan-5" class=" collapse inner-collapse-content">
                                                <p>For your loan questions, please contact your lender. To contact us regarding non-loan
                                                    related information, click here .
                                                </p>

                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Close</button>
                        <!-- You can add additional buttons here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <button id="back-to-top" class="btn btn-default btn-lg back-to-top ng-tns-c63-1 ng-star-inserted">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="height: 18px;width: 15px;fill: #000;">
            <path
                    d="M201.4 137.4c12.5-12.5 32.8-12.5 45.3 0l160 160c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L224 205.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l160-160z" />
        </svg></button>
</div>
<script>
    // navbar
    const hamburger = document.querySelector(".hamburger");
    const navMenu = document.querySelector(".custom-nav-menu");

    hamburger.addEventListener("click", mobileMenu);

    function mobileMenu() {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
    }
    const navLink = document.querySelectorAll(".custom-nav-link");

    navLink.forEach((n) => n.addEventListener("click", closeMenu));

    function closeMenu() {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
    }

    // Get all input fields with the class 'sub-input'
    const inputs = document.querySelectorAll(".sub-input");

    // Add event listeners to all input fields
    inputs.forEach((input, index) => {
        input.addEventListener("input", function () {
            // If character limit is reached
            if (
                this.value.length === parseInt(this.getAttribute("maxlength"), 10)
            ) {
                // Focus on the next input field if it exists
                if (index < inputs.length - 1) {
                    inputs[index + 1].focus();
                }
            }
        });

        // Get the button
        let mybutton = document.getElementById("back-to-top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", topFunction)

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>
